<ion-header>
  <ion-toolbar>
    <ion-back-button text=""></ion-back-button>
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label text-wrap>
      <ion-text>
        <h3>Nombre: {{ selectedUser.nombreCompleto }}</h3>
      </ion-text>
      <div *ngIf="rutValido; else invalido">
        <ion-text class="text-success">
          <h3>RUT: {{ rutFormateado }}</h3>
        </ion-text>
      </div>
      <ng-template #invalido>
        <ion-text class="text-danger">{{ rutInvalido }}</ion-text>
      </ng-template>
      <div *ngIf="fechaValida; else invalida">
        <ion-text class="text-success">
          <h3>Fecha de Nacimiento: {{ fechaNacimientoFormateada }}</h3>
        </ion-text>
      </div>
      <ng-template #invalida>
        <ion-text class="text-danger">{{ fechaInvalida }}</ion-text>
      </ng-template>
    </ion-label>
  </ion-item>
</ion-content>
