<ion-header>
  <ion-toolbar>
    <ion-title>Lista de usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
  <div *ngIf="searching" class="spinner-container text-center">
      <ion-spinner></ion-spinner>
  </div>
  <ion-list>
    <ion-item *ngFor="let user of usersListed" button=true (click)="onGoToSigleUser(user)">
      <ion-label text-wrap>
        <ion-text>
          {{ user.nombreCompleto }}
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>  
</ion-content>
